@model ShopQuanAo.Models.Product

@{
    ViewData["Title"] = Model.Name;
    var relatedProducts = ViewBag.RelatedProducts as List<ShopQuanAo.Models.Product>;
}



<div class="container single_product_container">
    <div class="row">
        <div class="col">
            <!-- Breadcrumbs -->
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Trang Chủ</a></li>
                    <li><a asp-area="" asp-controller="Shop" asp-action="Index"><i class="fa fa-angle-right" aria-hidden="true"></i>Sản Phẩm</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>@Model.Name</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7">
            <div class="single_product_pics">
                <div class="row">
                    <div class="col-lg-12 image_col order-lg-2 order-1">
                        <div class="single_product_image">
                            <div class="single_product_image_background" style="background-image:url('@Url.Content(Model.ImageUrl ?? "~/images/product_1.png")')"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="product_details">
                <div class="product_details_title">
                    <h2>@Model.Name</h2>
                    <p>@Model.Description</p>
                </div>
                <div class="product_price">
                    @Model.Price.ToString("N0")đ
                    @if (Model.OldPrice.HasValue)
                    {
                        <span>@Model.OldPrice.Value.ToString("N0")đ</span>
                    }
                </div>
                <div class="product_details_color">
                    @if (Model.StockQuantity > 0)
                    {
                        <span class="badge bg-success">Còn @Model.StockQuantity sản phẩm</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Hết hàng</span>
                    }
                    @if (Model.IsFeatured)
                    {
                        <span class="badge bg-info ms-2">Nổi bật</span>
                    }
                    @if (Model.IsOnSale)
                    {
                        <span class="badge bg-warning ms-2">Giảm giá</span>
                    }
                </div>
                <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center mt-4">
                    <span>Số Lượng:</span>
                    <div class="quantity_selector">
                        <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                        <span id="quantity_value">1</span>
                        <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                    </div>
                    <div class="red_button add_to_cart_button ms-3">
                        <a href="#">Thêm Vào Giỏ</a>
                    </div>
                    <div class="product_favorite d-flex flex-column align-items-center justify-content-center"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Recently Viewed -->
@if (relatedProducts != null && relatedProducts.Any())
{
    <div class="viewed">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="viewed_title_container">
                        <h3 class="viewed_title">Sản Phẩm Liên Quan</h3>
                        <div class="viewed_nav_container">
                            <div class="viewed_nav d-flex flex-row align-items-center justify-content-start">
                                <div class="viewed_nav_prev"><i class="fas fa-chevron-left"></i></div>
                                <div class="viewed_nav_next"><i class="fas fa-chevron-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="viewed_slider_container">
                        <div class="owl-carousel owl-theme viewed_slider">
                            @foreach (var product in relatedProducts)
                            {
                                <div class="owl-item">
                                    <div class="viewed_item @(product.IsOnSale ? "discount" : "") d-flex flex-column align-items-center justify-content-center text-center">
                                        <div class="viewed_image">
                                            <img src="@Url.Content(product.ImageUrl ?? "~/images/product_1.png")" alt="@product.Name">
                                        </div>
                                        <div class="viewed_content text-center">
                                            @if (product.IsOnSale && product.OldPrice.HasValue)
                                            {
                                                var discount = ((product.OldPrice.Value - product.Price) / product.OldPrice.Value * 100);
                                                <div class="viewed_price">
                                                    @product.Price.ToString("N0")đ
                                                    <span>@product.OldPrice.Value.ToString("N0")đ</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="viewed_price">@product.Price.ToString("N0")đ</div>
                                            }
                                            <div class="viewed_name">
                                                <a asp-action="Detail" asp-route-id="@product.Id">@product.Name</a>
                                            </div>
                                        </div>
                                        <ul class="item_marks">
                                            @if (product.IsFeatured)
                                            {
                                                <li class="item_mark item_new">new</li>
                                            }
                                            @if (product.IsOnSale)
                                            {
                                                <li class="item_mark item_discount">sale</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

